<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.co.gram.cabalee">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="nl.co.gram.cabalee.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "cabalee://localhost/v1/cabal/...” -->
                <data
                    android:scheme="cabalee"
                    android:host="localhost"
                    android:pathPrefix="/v1/cabal/"
                    />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.co.gram.cabalee.QrReaderActivity"
            android:label="QR Code Reader">
        </activity>
        <activity
            android:name="nl.co.gram.cabalee.QrShowerActivity"
            android:label="QR Code Shower">
        </activity>
        <activity
            android:name="nl.co.gram.cabalee.CabalActivity"
            android:label="Cabal">
        </activity>
        <service android:name="nl.co.gram.cabalee.CommService" />
    </application>

    <!-- Required for Nearby Connections -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />  <!-- wifiDirect or wifiAware sockets -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />  <!-- wifiAware -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        android:minSdkVersion="29" />
</manifest>